<h1>Editar Tabla de Validación</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', proyect_tv_path(@proyect,@tv), class:"btn btn-primary pull-left" %>
<%= link_to 'Regresar', proyect_tvs_path(@proyect), class:"btn btn-success pull-right" %>
