<h1>Editar Bmc</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', proyect_bmc_path(@proyect,@bmc), class:"btn btn-primary pull-left" %>
<%= link_to 'Regresar', proyect_bmcs_path(@proyect), class:"btn btn-success pull-right" %>

