<h1>Editar Propuesta de Valor</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', proyect_pv_path(@proyect,@pv), class:"btn btn-primary pull-left" %>
<%= link_to 'Regresar', proyect_pvs_path(@proyect), class:"btn btn-success pull-right" %>
